<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="reportManager" class="com.sinotrans.framework.report.service.impl.JasperReportManagerImpl">
		<property name="sourceFileBaseDir" value="" />
		<property name="imagesUri" value="images/report/" />
	</bean>

   
	<bean id="javaBeanDescribeService" class="com.superlinksoft.jasperreport.service.JavaBeanDescribeService">
		<property name="descriptionPath">
			<value>classDescription</value>
		</property>
	</bean>
</beans>
