<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>wr</display-name>
	<!-- Context Configuration locations for Spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/spring/applicationContext-aop.xml
			classpath:/spring/applicationContext-captcha.xml
			classpath:/spring/applicationContext-common.xml
			classpath:/spring/applicationContext-core.xml
			classpath:/spring/applicationContext-report.xml
			classpath:/spring/applicationContext-schedule.xml
			classpath:/spring/applicationContext-security.xml
			classpath:/spring/applicationContext-webMethods.xml
			classpath:/spring/applicationContext-struts.xml
			classpath:/spring/applicationContext-smartPortServiceUrl.xml
			classpath:/spring/applicationContext-xfire.xml
			classpath:/selectCode/selectCode-system.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>
			org.springframework.security.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.springframework.security.util.FilterChainProxy
			</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>DESVcodeFilter</filter-name>
		<filter-class>
			com.sinotrans.framework.web.filter.DESVcodeFilter
		</filter-class>
		<init-param>
			<param-name>DESCheckoutSwtich</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>DES_KEY</param-name>
			<param-value>abcdefg</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DESVcodeFilter</filter-name>
		<url-pattern>/printTemplateFileAction.do</url-pattern>
	</filter-mapping>
	<!-- 
		<filter>
		<filter-name>gzipFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
		</filter>
		<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.css</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.html</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.js</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>gzipFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		</filter-mapping>
	-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.sinotrans.framework.core.web.I18nJsInitializeContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.sinotrans.framework.core.web.DwrInterfacesJsInitializeContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.security.ui.session.HttpSessionEventPublisher
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.sinotrans.framework.core.support.spring.CustomRequestContextListener
		</listener-class>
	</listener>
	<!-- ============ajax config================ -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/dwr.xml</param-value>	
		</init-param>
		<init-param>
			<param-name>classes</param-name>
			<param-value>java.lang.Object</param-value>
		</init-param>
		
		<init-param>
			<param-name>customConfigurator</param-name>
			<param-value>
				com.sinotrans.framework.core.support.dwr.DWRFluentConfigurator
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				org.directwebremoting.extend.Remoter
			</param-name>
			<param-value>
				com.sinotrans.framework.core.support.dwr.DWRRemoter
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>dwr-invoker-2</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/dwr2.xml</param-value>
		</init-param>
		<init-param>
			<param-name>classes</param-name>
			<param-value>java.lang.Object</param-value>
		</init-param>
		<init-param>
			<param-name>customConfigurator</param-name>
			<param-value>
				com.sinotrans.framework.core.support.dwr.DWRFluentConfigurator
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				org.directwebremoting.extend.Remoter
			</param-name>
			<param-value>
				com.sinotrans.framework.core.support.dwr.DWRRemoter
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Sinotrans Servlet Ajax -->
	<servlet>
		<description>ajax servlet</description>
		<display-name>ajax servlet</display-name>
		<servlet-name>SinotransServlet</servlet-name>
		<servlet-class>
			com.sinotrans.gd.wlp.common.web.SinotransServlet
		</servlet-class>
		<init-param>
			<param-name>handlers</param-name>
			<param-value>
			 
				com.sinotrans.gd.wlp.common.web.SinotransAjaxHandler,			
				com.sinotrans.gd.wlp.basicdata.handler.BasicdataHandler,
				com.sinotrans.gd.wlp.system.handler.SystemHandler
				<!-- 
				com.sinotrans.gd.wlp.item.handler.ItemHandler,
				com.sinotrans.gd.wlp.order.handler.OrderHandler,
				com.sinotrans.gd.wlp.strategy.handler.LocPlanConfigHandler,
				com.sinotrans.gd.wlp.inbound.handler.InboundHandler,
				com.sinotrans.gd.wlp.outbound.handler.PickPlanHandler,
				com.sinotrans.gd.wlp.outbound.handler.OutBoundPlanHandler,
				com.sinotrans.gd.wlp.outbound.handler.OutboundVerificationHandler,
				com.sinotrans.gd.wlp.warehouse.handler.WarehoseHandler,
				com.sinotrans.gd.wlp.inhouse.handler.InhouseHandler,
				com.sinotrans.gd.wlp.statistics.handler.StatisticsReportHandler,
				com.sinotrans.gd.wlp.forecast.handler.ForecastHandler,
				com.sinotrans.gd.wlp.charge.handler.ChargeHandler
				-->
			</param-value>
		</init-param>
	</servlet>
	<!-- Struts Action -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>xfire</servlet-name>
		<servlet-class>
			org.codehaus.xfire.spring.XFireSpringServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonFacadeServlet</servlet-name>
		<servlet-class>
			com.sinotrans.framework.core.web.JsonFacadeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSServlet</servlet-name>
		<servlet-class>
			com.sinotrans.gd.wlp.common.web.CSServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>
			com.sinotrans.gd.wlp.common.web.UploadServlet
		</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>ImageValidationCodeServlet</servlet-name>
		<servlet-class>
			com.sinotrans.framework.core.web.ImageValidationCodeServlet
		</servlet-class>
	</servlet>
	<servlet>
       <servlet-name>BarcodeServlet</servlet-name>
       <servlet-class>org.krysalis.barcode4j.servlet.BarcodeServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>AuthorizeServlet</servlet-name>
       <servlet-class>com.sinotrans.gd.wlp.openapi.servlet.AuthorizeServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>OpenApiServlet</servlet-name>
       <servlet-class>com.sinotrans.gd.wlp.openapi.servlet.OpenApiServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>EdiInterfaceServlet</servlet-name>
       <servlet-class>com.sinotrans.gd.wlp.openapi.servlet.EdiInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>EdiApiServlet</servlet-name>
       <servlet-class>com.sinotrans.gd.wlp.openapi.servlet.EdiApiServlet</servlet-class>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dwr-invoker-2</servlet-name>
		<url-pattern>/dwr2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SinotransServlet</servlet-name>
		<url-pattern>/servlet/SinotransServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xfire</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonFacadeServlet</servlet-name>
		<url-pattern>/JsonFacadeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonFacadeServlet</servlet-name>
		<url-pattern>/JsonFacadeCallBackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSServlet</servlet-name>
		<url-pattern>/CSServlet</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
  		<servlet-name>UploadServlet</servlet-name>
  		<url-pattern>/UploadServlet</url-pattern>
 	 </servlet-mapping> 
 
 
	<servlet-mapping>
		<servlet-name>ImageValidationCodeServlet</servlet-name>
		<url-pattern>/ImageValidationCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>BarcodeServlet</servlet-name>
    	<url-pattern>/genbc</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
    	<servlet-name>AuthorizeServlet</servlet-name>
      	<url-pattern>/authorize</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>OpenApiServlet</servlet-name>
      	<url-pattern>/openapi</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>EdiInterfaceServlet</servlet-name>
      	<url-pattern>/ediinter</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>EdiApiServlet</servlet-name>
      	<url-pattern>/ediapi</url-pattern>
  	</servlet-mapping>
   	<!-- job  -->
   	<!-- <servlet>
       <servlet-name>TaskInitServlet</servlet-name>
       <servlet-class> com.sinotrans.gd.wlp.dcs.web.TaskInitServlet</servlet-class>
           <load-on-startup>10</load-on-startup>
    </servlet>
  	<servlet-mapping>
		<servlet-name>TaskInitServlet</servlet-name>
		<url-pattern>/servlet/TaskInitServlet</url-pattern>
	</servlet-mapping> -->
	<!-- CangdanExport -->
	<!--  <servlet>
	 	<servlet-name>CangdanExport</servlet-name>
    	<servlet-class>com.sinotrans.gd.wlp.feeder.additem.action.CangdanExport</servlet-class>
	 </servlet>
  
   <servlet-mapping>
    <servlet-name>CangdanExport</servlet-name>
    <url-pattern>/CangdanExport</url-pattern>
  </servlet-mapping>
		 -->
	
	
	
	<!-- end job  -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<welcome-file-list>
<!--		<welcome-file>login.jsp</welcome-file>-->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Http Flex Session attribute and binding listener support 
		
		<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
		</listener>
		
		MessageBroker Servlet 
		
		<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<display-name>MessageBrokerServlet</display-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
		<param-name>services.configuration.file</param-name>
		<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		</servlet>
		<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
		</servlet-mapping>
		
		for WebSphere deployment, please uncomment 
		
		<resource-ref>
		<description>Flex Messaging WorkManager</description>
		<res-ref-name>wm/MessagingWorkManager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
		</resource-ref>
	-->
	<jsp-config>
		<taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-bean.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-html.tld
			</taglib-location>
		</taglib>
	</jsp-config>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
